* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
main {
    display: block;
}

html,
body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
    background-color: #181a1b;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background: rgba(64, 66, 67, 0.8);
    z-index: 1000;
}

header nav {
    text-align: right;
}

header a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 60px 0;
}

footer {
    padding: 1rem;
    text-align: center;
    background: slategray;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.page {
    padding: 2rem 1rem;
}

.card {
    display: block;
    padding: 1rem;
    background: rgb(58, 58, 58);
    border-radius: 1rem;
    box-shadow: 3px 3px 3px rgb(49, 49, 49);
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #999999;
}

.form-group.has-error label {
    color: tomato;
}
.form-group.has-error .form-control {
    border-color: tomato;
}
.validation-error {
    font-size: 0.85rem;
    color: tomato;
}

.btn {
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
    background-color: #3f3feb;
}

.btn:hover {
    opacity: 0.8;
}

.alert {
    padding: 8px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert.alert-success {
    background: #90d0a0;
    color: #134c13;
    border: 1px solid #134c13;
}

.alert.alert-warning {
    background: #ffebac;
    color: #82602b;
    border: 1px solid #82602b;
}

.alert.alert-error {
    background: #ffb6ac;
    color: #82312b;
    border: 1px solid #822b2b;
}

.page-upload .card,
.page-edit .card {
    margin: 0 auto;
    width: 500px;
}

.page-edit .album-form {
    margin-bottom: 2rem;
}

.album-list {
    display: flex;
    flex-wrap: wrap;
}

.album-list .album-item {
    padding: 10px;
    width: 25%;
}

.album-list .album-item a {
    color: white;
    text-decoration: none;
}
.album-list .album-item a:hover {
    opacity: 0.8;
}

.album-list .album-item img {
    width: 100%;
    height: auto;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a {
    display: block;
    padding: 1rem;
    color: black;
    background: #999999;
    text-decoration: none;
}

.pagination a.active,
.pagination a:hover {
    color: white;
    background-color: #3f3feb;
}
